<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <a name="nothing" id="nothing" class="btn btn-primary" href="/" role="button">Trang Chu</a>
    <div class="jumbotron">
        <h1 class="display-3">Trang About</h1>
        <p class="lead">Ve chung toi thi chang co gi de noi</p>
        <hr class="my-2">
        <p>Ban da nghe ky chua, ve chung toi thi khong co gi de noi</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
</body>
</html>