<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
    <a name="" id="" class="btn btn-primary" href="/" role="button">Trang Chu</a>   
    <h1>Here is contact pages</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Header One</th>
                <th>Header Two</th>
                <th>Header Three</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row">Something 01</td>
                <td>Something 02</td>
                <td>Something 03</td>
            </tr>
            <tr>
                <td scope="row">Something 01</td>
                <td>Something 02</td>
                <td>Something 03</td>
            </tr>   
        </tbody>
    </table>
</body>
</html>